body {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #000000;
}

.navigation ul {
    display: inline-block;
}

.navigation li {
    list-style-type: none;
    float: left;
}

.navigation li+li {
    margin-left: 70px;
}

.navigation a {
    text-decoration: none;
    font-weight: bolder;
    color: #FFFFFF;
}

.navigation a:hover {
    text-decoration: none;
    color: #487E99;
}

/*.char_bg img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}*/
.char_kdl img {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    margin: 0;
    height: 100%;
}

.char_logo {
    position: absolute;
    top: 70px;
    left: 80px;
    margin: 0;
}

.char_mid {
    position: absolute;
    top: 25%;
    left: 40%;
}

.kdl {
    float: left;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 80px;
    height: 200px;
}

.content1 {
    margin-top: 30px;
    float: left;
    font-size: 18px;
    line-height: 2.4em;
}

.wl {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 120px;
    height: 200px;
}

.content2 {
    margin-top: 100px;
    float: left;
    font-size: 18px;
    line-height: 2.75em;
}

.asy {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 200px;
}

.content3 {
    margin-top: 100px;
    float: left;
    font-size: 18px;
    line-height: 4em;
}

.nft {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 160px;
    height: 200px;
}

.nfl {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 160px;
    height: 200px;
}

.lk {
    float: left;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 160px;
    height: 200px;
}

.end {
    text-align: center;
    line-height: 50px;
    float: left;
    height: 50px;
    /*background-color: #818181;*/
    margin-left: 200px;
    width: 1125px;
    margin-top: 10px;
    margin-bottom: 0;
}

.end span {
    color: #CCD3D3;
}